<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Gemeente Heerlen</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel='stylesheet' type='text/css' media='screen' href='dashboard.css'>
    <script>const user = JSON.parse(atob(`<%- btoa(JSON.stringify({email: user._email, flags: user._flags, websites: user._websites, session: user._sessionToken})); %>`));</script>
</head>
<body>
    <div style="display: flex;align-items: center;justify-content: space-between;">
        <h1 style="font-size: 2.5rem;margin-left: 1.5rem;">Gemeente Heerlen</h1>
        <div style="display: flex;gap: 1rem;">
            <% if (user.hasFlags(1<<1)) { //1<<2 = admin bit %>
                <a href="/dashboard/admin" class="button">admin paneel</a>
            <% } %>
            <% if (user.hasFlags(1<<2)) { //1<<2 = super admin bit %>
                <a href="/dashboard/sadmin" class="button">super admin paneel</a>
            <% } %>
        </div>
    </div>

    <div style="display: flex;height: 300px;box-sizing: border-box;padding: 1.5rem;flex: 1;flex-wrap: wrap;justify-content: center;gap: 2.5rem;">
        <div style="width: 30%;min-width: 400px;">
            <div class="section">
                <h1>Aanvragen</h1>
            </div>
        </div>
        <div style="flex: 1;min-width: 400px;">
            <div class="section">
                
            </div>
        </div>
        
    </div>


    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script>
        (() => {
            Toastify({ text: `Welkom terug, ${user.email}`, duration: 3000 }).showToast();
        })();
    </script>
</body>
</html>

<style>
    body {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        margin: 0;
        box-sizing: border-box;
        padding: 1.5rem;
    }

    .section {
        filter: drop-shadow(7.5px 7.5px 10px #00000050);
        width: 100%;
        height: 100%;
        background-color: white;
        border-radius: 15px;
        overflow: hidden;
        box-sizing: border-box;
        padding: 0 1.5rem;
    }
</style>