<footer style="flex-wrap: wrap;gap: 1.5rem;">
    <img draggable="false" src="/logofooter.png">
    <div style="display: flex;flex-direction: column;font-size: 20px">
        <a style="color: white;" href="https://www.heerlen.nl/contact">Contact</a>
        <a style="color: white;" href="https://www.heerlen.nl/openingstijden-stadskantoor">Openingstijden</a>
        <a style="color: white;" href="https://www.heerlen.nl/over-deze-website">Over deze website</a>
    </div>
</footer>