<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Gemeente Heerlen</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='index.css'>
</head>

<body>
    <header>
        <img src="logo_gemeente_heerlen.svg" height="48px">
        <a class="button" href="/login">Inloggen</a>
    </header>
    <main>

        <div style="position: relative;text-align: center;">

            <img src="Smartphone_and_a_smart_watch_surrounded_by_force_field.jpg"
                style="width: 100%;height: 300px;object-fit: cover;border-radius: 1rem;max-width: 1024px;object-position: 0 -235px;">
            <!-- <p style="position: absolute;color: white;font-weight: 700;font-size: 1.5rem;left: 0;top: 0;padding: 5rem;">Werk in een veilige omgeving</p> -->
        </div>

        <h1 style="text-align: center;color: black;margin-top: 2.5rem;margin-bottom: 5rem;">Hoe kan ik bedrijf veiliger maken?</h1>

        <div style="align-items: center; justify-content: center;display: flex;gap: 2.5rem;flex-wrap: wrap;">
            
            <% for(let blog of blogs) { %>
                <div style="align-self:stretch;background-color: white;width: 384px;border-radius: 7.5px;overflow:hidden;box-sizing: border-box;box-shadow: 10px 10px 32px 6px rgba(0,0,0,0.66);">
                    <img draggable="false" src="<%- blog.thumbnail %>" style="height: 200px;width: 100%;object-fit: cover;user-select: none;">
                    <div style="padding: 5px .5rem;box-sizing: border-box;">
                        <a href="/blog/<%- blog.id %>" style="text-decoration: none;">
                        <h3 style="margin: 5px;"><%= blog.title %></h3>
                    </div>
                    </a>
                </div>
            <% } %>

        </div>

    </main>

    <%- include('footer.ejs') %>
</body>

</html>