<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Gemeente Heerlen</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel='stylesheet' type='text/css' media='screen' href='/dashboard.css'>
</head>
<body>
    <div style="text-align: center;max-width: 400px;">
        U heeft nog geen toegang tot het dashboard. Wacht tot een website administrator u heeft goedgekeurd.
    </div>
</body>
</html>

<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        margin: 0;
        box-sizing: border-box;
        padding: 1.5rem;
    }
</style>