<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Rapportage bewerker</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="/editormd/css/editormd.css" />
</head>
<body>
    <button onclick="window.history.back()">ga terug</button>

    <!-- <div style="width: 1200px;height:500px">
        <div id="markdown-editor">
            <textarea style="display:none;"></textarea>
        </div>
        
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/editormd/editormd.min.js"></script>
    <script type="text/javascript">
        $(() => {
            editormd.loadScript('/editormd/languages/en', () => {
                window.md = editormd('markdown-editor', { path: '/editormd/lib/', placeholder: '' });
                window.md.lang = editormd.defaults.lang;
                window.md.recreate();
            });
        });
    </script> -->
</body>
</html>